*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/sushi-4.jpg);
    background-position: center;
    position: relative;
    background-size: cover;
}
nav{
    display: flex;
    padding: 2% 3%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;

}
.nav-links{
    flex: 1;
    margin-left: 19%;
    word-spacing: 25px;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px    
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.text-box p{
    margin: 10px 0 10px;
    font-size: 60px;
    color: white;
    font-family: 'Montserrat', sans-serif;

}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    position: relative;
    cursor: pointer;

}
.hero-btn:hover{
    border: 1px solid #be2626;
    background: #be2626; 
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box p{
        font-size: 15px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #9c3232;
        height: 100vh;
        width: 150px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: black;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 0px;
        margin-top: 30px;

    }
}

.info{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
}
h1{
    font-size: 36px;
    font-weight: 600;
}
.info-p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.info-col{
    flex-basis: 31%;
    background: rgb(223, 217, 217);
    border-radius: 10px;
    margin-bottom: 1%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    margin-top: -326px;
    position: relative;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.info-col:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*------Menu------*/

.menu-gallery{
    width: 80%;
    margin: 150px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-gap: 30px;
}
.menu-gallery img{
    width: 230px;
    height: 300px;
    cursor: pointer;
    border-radius: 10px;
    object-fit: cover;    
}
.menu-place{
    font-size: 50px;
    top: 20px;
    text-align: center;
    margin-top: 117px;
    margin-bottom: -70px;
    
}
